.cart {
  display: flex;
  flex-flow: column;
  margin: 0 50px;
  &Header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 0 auto;
    width: 400px;
  }
  &NotSelected {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #FC0B37;
    margin: 50px 0 0 0;
  }
  &Result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 20px auto;
    font-size: 30px;
    color: #333;
  }
  &Button {
    border-radius: 30px;
    width: 400px;
    height: 70px;
    margin: 20px 0 0;
    color: #555;
    font-size: 22px;
    border: 3px solid #555;
    cursor: pointer;
    transition: all 0.2s ease;
    display: block;
    background: #FFFFFF;
    &:hover {
      transition: all 0.4s ease;
      box-shadow: 0 0 0 rgba(48, 33, 229, 0.4);
      animation: pulse 2s infinite;
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(48, 33, 229, 0.4);
    box-shadow: 0 0 0 0 rgba(48, 33, 229, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
